
body{
    font-family: "Roboto" , sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container{
    max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media  screen and (min-width: 768px){
    .container{
        max-width: 768px;
    }
}

@media  screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
  padding-right: 15px;
    }
}
/*navbar-header*/
.navbar{
    border-bottom: 1px solid #e7e9fc;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
@media screen and (max-width: 767px){
    .navbar {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}
@media screen and (min-width: 768px){
    .navbar {
        padding-top: 24px 0;
        
    }
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header-nav{
    display: flex;
    align-items: center;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    
    }
    .header-logo{
        padding: 16px 0;
        display: block;
      
    }
   @media screen and (min-width: 768px){
    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }
   }
   @media screen and (min-width: 1158px){
    .header-logo {
        margin-right: 76px;
    }
   }
    .logo-span{
        font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    }

@media screen and (min-width: 768px) {
    .header-nav {
        display: flex;
    }
}

.nav-menu-page{
    display: flex;
    align-items: center;
    gap: 40px;
}
@media screen and (min-width: 768px) {
    .nav-menu-page {
        display: flex;
        gap: 24px;
        margin-right: 121px;
    }
}
@media screen and (min-width: 1158px) {
    .nav-menu-page {
        display: flex;
        gap: 24px;
        margin-right: 332px;
    }
}
.nav-menu{
padding: 24px 0;
display: block;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: left;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-line{
    margin-left: auto;
    font-style: normal;
    color: #434455;
}

.contacts-list{
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px){
    .nav-menu-page,
    .contacts-list {
        display: none;
    }
}
@media screen and (min-width: 768px){
    .contacts-list{
        display: block;
        
    }
    }
@media screen and (min-width: 1158px){
.contacts-list{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    
}
}
.contacts{
    display: block;
    padding: 24px 0;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .contacts{
       
        padding: 0;
        margin-bottom: 12px;
    }
}
.nav-menu.current{
    position: relative;
}
.nav-menu.current::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.nav-menu-page .nav-menu:hover,
.nav-menu-page .nav-menu:focus,
.contacts-line .contacts:hover,
.contacts-line .contacts:focus,
.nav-menu.current{
    color: #404bbf;
}
.nav-menu-mobile{
    padding: 0;
    border: none;
    background-color: transparent;
}
.nav-menu-mobile-icon{
    display: block;
    fill: #2f2f37;
}
@media screen and (min-width: 768px){
    .nav-menu-mobile{
        display: none;
    }
}
/*menu-mobile*/
.menu-mobile{
    display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-mobile.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.menu-mobile-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
  
}
.menu-mobile-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    
    border-radius: 50%;

}


.modal-btn-close{
    
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0; 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    fill: #2E2F42;
    border-radius: 50%;
stroke-width: 1px;
stroke: rgba(0, 0, 0, 0.1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    border: none;
background-color: #404bbf;
}
.icon-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.menu-mobile-nav{
    
margin-bottom: auto;


}
.menu-mobile-list-nav{
    display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 40px;
}
.menu-mobile-line-nav.menu-open{
    color: #404bbf;
}
.menu-mobile-line-nav{
    margin-bottom: 40px;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;

}
.menu-mobile-line-nav:last-child{
    margin-bottom: 0;
}
.menu-mobile-cont{
    
    margin-bottom: 48px;
}
.menu-mobile-cont-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}
.menu-mobile-cont-line.menu-tel{
    color: #4d5ae5;
}
.menu-mobile-cont-line{
    
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
}
.menu-mobile-list{
    display: flex;
justify-content: center;
flex-direction: row;
gap: 40px;
}
.icon-list{
    display: flex;
    justify-content: center; 
    gap: 24px;
}
.icon-line{
    width: 40px;
    height: 40px;
   
}
.icon-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex; 
    align-items: center;
    justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.icon-link:hover,
.icon-link:focus{
    background-color: #404bbf;
}
.icon-social{
    fill: #f4f4fd;
}

@media screen and (min-width: 768px){
    .menu-mobile{
        display: none;
    }
}
/*hero-bg*/
.main-page-hero {
    display: flex;
    background-color: #2e2f42;
    padding: 72px 0;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg-hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   min-width: 320px;
   max-width: 767px;
    background-position: center; 
    }
    @media screen and (min-resolution: 192dpi){
        .main-page-hero{
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg-hero-mobile@2x.jpg");
        }
    }

@media  (min-width: 768px) and (max-width: 1157px) {
    .main-page-hero {
        min-width: 768px;
        max-width: 1157px;
     background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg-hero-tablet.jpg");
    }
 @media screen and (min-resolution: 192dpi){
    .main-page-hero{
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg-hero-tablet@2x.jpg");
    
                  }
    }    
}

@media screen and (min-width: 1158px){
    .main-page-hero{
        min-width: 1158px;
     background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/peopleoffice.jpg");
    
    }
 @media screen and (min-resolution: 192dpi){
        .main-page-hero{
            padding: 188px 0;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/peopleoffice@2x.jpg");
            
        }   
    }
}    

    .hero-title{
        margin-left: auto;
        margin-right: auto;
    max-width: 216px;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    }
    @media screen and (min-width: 768px){
        .hero-title{
            max-width: 496px;
            font-size: 56px;
            line-height: 1.07;
            margin-bottom: 36px;
            justify-content: center;
        }
    }
    @media screen and (min-width: 1158px){
        .hero-title{
            margin-bottom: 48px;
        }
    }
    .btn-hero{
        margin-left: auto;
        margin-right: auto;
        display: flex;
        min-width: 169px;
        height: 56px;
        border: none; 
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .main-page-hero .btn-hero:hover,
    .main-page-hero .btn-hero:focus{
      background-color: #404BBF; 
    }
    /*feature*/
    .feature-page{
        padding: 120px 0;
    }
    .list-feature{
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 1158px;
        min-width: 320px;
        padding: 96px 16px;
        gap: 72px;

    }
.line-feature{

    }
    @media screen and (min-width: 768px){
        .list-feature{
            
            padding: 96px 0;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 24px;

        }
        .line-feature{
            width: calc((100% - 24px) / 2);
            border-radius: 0px 0px 4px 4px;
        }
    }
    @media screen and (min-width: 1158px){
        .line-feature{
            width: calc((100% - 72px) / 4);
            border-radius: 0px 0px 4px 4px;
        }
    }
    .icon{
        display: flex; 
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd; 
        border-radius: 4px; 
        border: 1px solid #8e8f99; 
        margin-bottom: 8px; 
    }
    @media screen and (max-width: 1157px){
        .icon{
            display: none;
        }
    }
    .title-feature{
       text-align: center;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
    min-width: 320px;
    max-width: 767px;
    }
    @media sceen and (min-width: 768px){
        .title-feature {
            text-align: left;
        }
    }
    @media sceen and (min-width: 1158px){
        .title-feature{
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
        }      
    }
    .descr-feature{
        max-width: 767px;
       
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
    @media screen and (min-width: 768px){
        .descr-feature{
            
           
            font-weight: 400;
        }
    }
    @media screen and (min-width: 1158px){
        .descr-feature{
            
            font-weight: 400;
        }
    }
    /*team-page*/
    .team-page{
        padding: 96px 0;
      background-color: #f4f4fd;
      
      }
      @media screen and (min-width: 1158px){
        .team-page{
            padding: 120px 0;
        }
      }
      .team-title{
         margin-bottom: 72px;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
      text-transform: capitalize;
      }
      .team-line{
        display: flex;
        align-items: center;
        flex-direction: column;
            gap: 24px;
          
      }
      .team-list{
         margin-bottom: 72px;
          border-radius: 0 0 4px 4px;
        background-color: #FFFFFF;
      box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
      }
      @media screen and (min-width: 768px){
        .team-line{
            flex-direction: row;
            flex-wrap: wrap;
            padding-left: 108px;
            padding-right: 108px;
        }
        .team-list{
            margin-bottom: 64px;
            width: calc((100% - 48px) / 2);
        }
      }
      @media screen and (min-width: 1158px){
        .team-line{
            padding-left: 16px;
            padding-right: 16px;
        }
        .team-list{
            margin: auto;
            width: calc((100% - 72px) / 4);
        }
      }
      
      .team-container{
          padding: 32px 0;
      }
      .team-name{
          text-align: center;
          margin-bottom: 8px;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.02em;
      color: #2e2f42;
      
      }
      .team-prof{
          text-align: center; 
          margin-bottom: 8px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
      }

   /*portfolio*/

   .portfolio-page{
    padding: 96px 0;
}
@media screen and (min-width: 1158px){
    .portfolio-page{
        padding: 120px 0;
    }
}
.portfolio-title{
    margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
}
.portfolio-line-page{
    
         display: flex;
        align-items: center;
        flex-direction: column;
          row-gap: 72px;
          column-gap: 48px;
}

.portfolio-line-page:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-line{
    
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
@media screen and (min-width: 768px){
    .portfolio-line-page{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }
    .portfolio-line{
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px){
    
    .portfolio-line{
        width: calc((100% - 48px) / 3);
    }
}
.portfolio-line:hover .overlay{
    transform: translateY(0%);
}
.icon-container{
    position: relative; 
    overflow: hidden;
}
.overlay{
    position: absolute; 
    top: 0; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #f4f4fd;
    padding: 40px 32px; 
    background-color: #4d5ae5; 
    height: 100%;
    width: 100%; 
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
    margin-bottom: 8px 

}
.portfolio-descr{
    justify-content: center;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.portfolio-descr-line{
    margin-top: 8px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/*footer*/
.footer-page{
    background-color: #2e2f42;
    padding-top: 96px;
    }
    @media screen and (min-width: 768px){
        .footer-page{
          padding-left: 108px;
        }
    }
    @media screen and (min-width: 1158px){
        .footer-page{
          padding: 100px 0;
        }
    }
.container-footer{
        display: block;
        align-items: center;
        justify-content: center;
        
    }
    @media screen and (min-width: 768px){
        .container-footer{
            display: flex;
            flex-wrap: wrap;
          column-gap: 24px;
          row-gap: 72px;
           text-align: left;
           align-items: flex-start;
        }
    }
    @media screen and (min-width: 1158px){
        .container-footer{
            display: flex;
            flex-wrap: nowrap;
            gap: 0;
        }
    }
.footer-list-container{
    margin-bottom: 72px;
    }
    @media screen and (min-width: 768px){
        .footer-list-container{
            max-width: 264px;
            min-height: 112px;
            margin-bottom: 0;
        }
        
    }
    @media screen and (min-width: 1158px){
        .footer-list-container{
            display: block;
            text-align: left;
             max-width: 264px;
            margin-right: 120px;
        }
        
    }
.footer-logo{
    display: inline-block; 
    margin-bottom: 16px;

}
.logo-span-footer{ 
    color: #f4f4fd;
    
}

.footer-line {
   text-align: left;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}



.icon-footer-cont{
    display: block;
    margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
    .icon-footer-cont{
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1158px) {
    .icon-footer-cont{
        margin-right: 80px;
    }
}
.icon-footer-descr{
    
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
   
}
 @media screen and (min-width: 768px){
    .icon-footer-descr {
        text-align: left;
    }
 }
.icon-footer-list{
    display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
    gap: 16px; 
    margin: 0 auto;
}
.icon-footer-line{
    display: flex;
    align-items: flex-start;
    align-items: left;
    margin: 0 auto;
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer-link{
    width: 100%;
    height: 100%;
    background-color:  #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.icon-footer-link:hover,
.icon-footer-link:focus {
    background-color: #31d0aa; 
}
.icon-footer-svg {
    fill: #f4f4fd;
}

.footer-wrapper {
    display: block;
    padding-bottom: 96px;
}

.footer-text {
    
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

@media screen and (min-widgt: 768px){
    .footer-text {
        text-align: left;
    }
}
.footer-form{

}
@media screen and (min-width: 768px){
    .footer-form {
        display: flex;
        gap: 24px;
    }
}
.footer-input { 
  min-width: 264px;
    height: 40px;
    margin-bottom: 16px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px; 
    line-height: 2; 
    outline: none;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff; 
}
.footer-input::placeholder {
    color: #ffffff;

}
@media screen and (min-width: 768px) {
    .footer-input {
        width: 264px;
    }
    
}

.footer-btn-input {
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    padding: 8px 24px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px; 

}
.footer-icon {
    margin-left: 16px;
    fill: #fff;
}
@media screen and (min-width: 768px) {
    .footer-wrapper-cont{ 
        justify-content: space-between;
    } 
}
/*backdrop modal*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
   background-color: rgba(46, 47, 66, 0.40);
   opacity: 0;
   
   pointer-events: none;
   visibility: hidden;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open{

    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
width: 288px;

background-color: #fcfcfc;
padding: 72px 16px 24px 16px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


@media (min-width: 768px) {
    .modal{
        width: 408px;
padding: 72px 24px 24px 24px;
    }
}

.modal-btn-close:hover .icon-close,
.modal-btn-close:focus .icon-close{
    fill: #ffffff;
}
.modal-text{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-top: 24px;
margin-bottom: 16px;
}

.form-content {
    margin-bottom: 8px;
}
.form-content-text{
    margin-bottom: 16px;
}
.form-person-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}
.form-person-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent; 
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-person-input:focus {
    border-color:#4d5ae5;
}
.form-icon-person {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-person-input:focus+ .form-icon-person{
    fill: #4d5ae5;
}
.form-person-icon-wrapper{
    position: relative;
}

.form-person-comment{
    width: 100%;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4); 
    height: 120px;
    background-color: transparent; 
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
outline: transparent;
padding: 8px 16px; 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.form-person-comment::placeholder{
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}

.form-person-comment:focus{
    border: 1px solid  #4d5ae5;
}
.form-wrapper-checkbox{
    margin-bottom: 24px;
}
.castom-checkbox{
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    fill: transparent;
    width: 16px;
    height: 16px;
    border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
flex-shrink: 0;
}
.checkbox:checked + .form-person-checkbox .castom-checkbox {
border: transparent;
background-color: #404bbf;
fill:  #f4f4fd;
}

.form-person-checkbox {
    display: flex;
    align-items: center;
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.checkbox-link{
    
    color: #4d5ae5;
}

.form-person-checkbox a{
    text-decoration: underline;
}

.form-btn-submit{
    cursor: pointer;
    display: block; 
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
margin: 0 auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}